<template>
  <div class="container">
    <div class="row">
      <div class="col-12 pt-5 float-right">
        <div id="event-destroy" class="float-right mt-5">
          <i class="fas fa-trash-alt"></i>
          <br>
          Remove
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-5">
        <FullCalendar :options="calendarOptions" ref="fullCalendar"/>
      </div>
    </div>
  </div>
</template>
<script>
import '@fullcalendar/core/vdom'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import interactionPlugin, {Draggable} from '@fullcalendar/interaction'
import bootstrapPlugin from '@fullcalendar/bootstrap'
import axios from 'axios'

var calendar
var serviceSelector
export default {
  components: {
    FullCalendar
  },
  created () {
    //this.$http.get('/api/services')
    //  .then(response => { this.services = response.data })
    //  .catch(error => console.log(error))
    //this.$http.get('/api/users')
    //  .then(response => { this.users = response.data })
    //  .catch(error => console.log(error))
  },
  mounted(){
    //serviceSelector = document.getElementById('service-selector');
    //var self = this
    //serviceSelector.addEventListener("change", function(){
    //  let calendar = self.$refs.fullCalendar.getApi()
    //  calendar.removeAllEvents();
    //  calendar.refetchEvents()
    //});
    //var containerEl = document.getElementById('external-events');
    //new Draggable(containerEl, {
    //  itemSelector: '.fc-event',
    //  eventData: function(eventEl){
    //    return {title: eventEl.getAttribute("data-name"), backgroundColor: eventEl.getAttribute("data-color"), borderColor: eventEl.getAttribute("data-color")}
    //  }
    //});
    //this.calendarOptions.drop = this.calendarOptions.drop
  },
  data() {

    var self = this
    return {
      users:    [],
      services: [],
      calendarOptions: {
        plugins: [ dayGridPlugin, timeGridPlugin, listPlugin, bootstrapPlugin, interactionPlugin],
        editable: true,
        eventDurationEditable: true,
        droppable: false,
        timeZone: 'UTC',
        dateClick: function(info){
          console.log(info)
          var url = 'http://localhost:3000/api/services/' + self.$route.params.id + '/service_events'
          axios.post(url, {
            event: {
              service_id: self.$route.params.id,
              date: info.dateStr
            },

          }).then(function(response){
            let calendar = self.$refs.fullCalendar.getApi()
            calendar.removeAllEvents();
            calendar.refetchEvents()
            if (response.data.errors){
              info.revert()
            }
          })
        },
        slotLaneDidMount: function(arg){
          //console.log(arg)
        },
        //themeSystem: "bootstrap",
        initialView: 'timeGridWeek',
        headerToolbar: {
            left: null,
            center: 'title',
            right: 'prev,next today',
        },
        views: {
          timeGrid:{
            slotDuration: "00:60:00"
          }
        },
        eventsSet: function(events){
          let draggableUser = document.querySelectorAll(".draggable-user")
          if (draggableUser){
            draggableUser.forEach((item, i) => {
              let slctr = ".slot-user-" + item.getAttribute("data-user-id")
              let userSlot = document.querySelectorAll(slctr)
              if (userSlot){
                item.querySelector("span").innerText = userSlot.length
              }
            });
          }
        },
        eventClick: function(info){
          myModal.show(info)
        },
        eventDragStart: function(info){
          console.log("START!")
          var eventDestroyEl = document.querySelector("#event-destroy")
          eventDestroyEl.classList.add("destroyable");
        },
        eventDragStop: function(info){
          console.log(info)
          var jsEvent = info.jsEvent
          var eventDestroyEl = document.querySelector("#event-destroy")
          var x1 = eventDestroyEl.offsetLeft;
          var x2 = eventDestroyEl.offsetLeft + eventDestroyEl.offsetWidth;
          var y1 = eventDestroyEl.offsetTop;
          var y2 = eventDestroyEl.offsetTop + eventDestroyEl.offsetHeight;
          var url = 'http://localhost:3000/api/services/' + self.$route.params.id + '/service_events/' + info.event.id
          if (jsEvent.pageX >= x1 && jsEvent.pageX <= x2 && jsEvent.pageY >= y1 && jsEvent.pageY <= y2) {
            axios.delete(url, {data: {id: info.event.id}}).then(function(response){
              if (response.data.errors){
                //Nothing to do
              }else{
                info.event.remove();
              }
            })
          }
          var eventDestroyEl = document.querySelector("#event-destroy")
          eventDestroyEl.classList.remove("destroyable");
        },
        drop: function(info){
        },
        eventDrop: function(info){
          //console.log("DROPPED!")
          //var url = 'http://localhost:3000/services/' + info.event.id
          //axios.put(url, { date: info.event.start }).then(function(response){
          //  if (response.data.errors){
          //    info.revert()
          //  }
          //})
        },
        eventChange: function(changeInfo){
          console.log(changeInfo)
          var url = 'http://localhost:3000/api/services/' + self.$route.params.id + "/service_events/" + changeInfo.event.id
          console.log(url)
          axios.put(url, { service_event: {date: changeInfo.event.startStr, date_end: changeInfo.event.endStr} }).then(function(response){
            let calendar = self.$refs.fullCalendar.getApi()
            calendar.removeAllEvents();
            calendar.refetchEvents()
            if (response.data.errors){
              info.revert()
            }
          })
        },
        eventReceive: function(info){
          console.log("........")
          // var serviceValue = serviceSelector.options[serviceSelector.selectedIndex].value;
          // var userId = info.draggedEl.getAttribute("data-user-id");
          // var url = 'http://localhost:3000/events'
          // axios.post(url,{
          //   event: {
          //     service_id: serviceValue,
          //     user_id: userId,
          //     date: info.event.start
          //   }
          // }).then(function (response) {
          //   if (response.data.errors){
          //     info.revert()
          //   }
          // })
        },
        eventSources: [{
          events: function(info, successCallback, failureCallback){
            var serviceValue = null
            if (serviceSelector){
              serviceValue = serviceSelector.options[serviceSelector.selectedIndex].value;
            }
            var url = 'http://localhost:3000/api/services/' + self.$route.params.id  + '/service_events'
            axios.get(url).then(function (response){
              successCallback(response.data)
            })
          }
        }]
      }
    }
  }
}

</script>
