<template>
  <div class="container">
    <h1 class="my-5">Services</h1>
    <table class="table table-striped table-hover">
      <tbody>
        <template v-for="service in services"  :service="service">
          <tr :key="service.id">
            <td>
              <router-link :to="'/service/' + service.id" class="link-grey">{{service.name}}</router-link>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

</template>

<script>
export default {
  name: 'Services',
  data () {
    return {
      services: []
    }
  },
  created () {
    this.$http.get('/api/services')
      .then(response => { this.services = response.data })
      .catch(error => console.log(error))
  },
  methods: {

  }
}
</script>
