<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-dark pt-5">
        <form novalidate="novalidate" class="simple_form filter" action="/" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="hah0O5QBsA7ZL59EVz4aL6ml3npPMzaVaYUk6vtEPcw3iEHoqz14PTqCIwM5wHWfoSAOzKUzwMVfJoOGoK0_eA">
          <div class="form-group select required filter_customer">
            <select class="form-control select required" id="service-selector" name="filter[customer]"><option value="">Select a Service</option>
              <template v-for="service in services"  :service="service">
                <option :key="service.id" :value="service.id">
                  {{service.name}}
                </option>
              </template>
            </select>
          </div>
        </form>

        <div id="external-events" class="mt-5">

          <template v-for="user in users">
            <div class='fc-event fc-daygrid-event fc-daygrid-block-event text-white draggable-user my-1' :key="user.id" v-bind:style="{'background-color': user.color}" v-bind:data-user-id="user.id" v-bind:data-color="user.color" v-bind:data-name="user.name">
              <div class='fc-event-main mx-2'>
                {{user.name + " " + user.hours_per_week + " /"}}
                <span class="counter">
                  0
                </span>
              </div>
            </div>
          </template>

        </div>
        <div id="event-destroy" class="mx-auto text-center mt-5">
          <i class="fas fa-trash-alt"></i>
          <br>
          Remove
        </div>

      </div>

      <div class="col-10 pt-5">
        <button v-on:click="generateSchedule" class="btn btn-light">Generate Schedule</button>
        <FullCalendar :options="calendarOptions" ref="fullCalendar"/>
      </div>
    </div>

  </div>
</template>
<script>
import '@fullcalendar/core/vdom'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import interactionPlugin, {Draggable} from '@fullcalendar/interaction'
import bootstrapPlugin from '@fullcalendar/bootstrap'
import axios from 'axios'

var calendar
var serviceSelector
export default {
  methods: {
    generateSchedule: function(event){
      let calendar = this.$refs.fullCalendar.getApi()
      let calendarDate = calendar.getDate().toISOString()
      serviceSelector = document.getElementById('service-selector');
      var serviceValue = serviceSelector.options[serviceSelector.selectedIndex].value
      let url = 'http://localhost:3000/api/services/' + serviceValue + "/set-schedule"
      axios.post(url , {data: {date: calendarDate}}).then(function(response){
        console.log(".............Schedule")
        calendar.removeAllEvents();
        calendar.refetchEvents()
      })
    },
  },
  components: {
    FullCalendar
  },
  created () {
    console.log("CREATED!")
    this.$http.get('/api/services')
      .then(response => { this.services = response.data })
      .catch(error => console.log(error))
    this.$http.get('/api/users')
      .then(response => { this.users = response.data })
      .catch(error => console.log(error))
  },
  mounted(){
    console.log("Mounted")
    serviceSelector = document.getElementById('service-selector');
    var self = this
    serviceSelector.addEventListener("change", function(){
      let calendar = self.$refs.fullCalendar.getApi()
      calendar.removeAllEvents();
      calendar.refetchEvents()
    });
    var containerEl = document.getElementById('external-events');
    new Draggable(containerEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl){
        let slotUser = "slot-user-" + eventEl.getAttribute("data-user-id")
        return {title: eventEl.getAttribute("data-name"), backgroundColor: eventEl.getAttribute("data-color"), borderColor: eventEl.getAttribute("data-color"), classNames: [slotUser]}
      }
    });
    this.calendarOptions.drop = this.calendarOptions.drop
  },
  data() {
    var self = this
    console.log("DATA!")
    return {
      users:    [],
      services: [],
      calendarOptions: {
        plugins: [ dayGridPlugin, timeGridPlugin, listPlugin, bootstrapPlugin, interactionPlugin],
        editable: true,
        eventDurationEditable: false,
        droppable: true,
        timeZone: 'UTC',
        dateClick: function(){
          console.log("dateclickd")
        },
        slotLaneDidMount: function(arg){
          //console.log(arg)
        },
        //themeSystem: "bootstrap",
        initialView: 'timeGridWeek',
        headerToolbar: {
            left: null,
            center: 'title',
            right: 'prev,next today',
        },
        views: {
          timeGrid:{
            slotDuration: "00:60:00"
          }
        },
        eventsSet: function(events){
          let draggableUser = document.querySelectorAll(".draggable-user")
          if (draggableUser){
            draggableUser.forEach((item, i) => {
              let slctr = ".slot-user-" + item.getAttribute("data-user-id")
              let userSlot = document.querySelectorAll(slctr)
              if (userSlot){
                item.querySelector("span").innerText = userSlot.length
              }
            });
          }
        },
        eventClick: function(info){
          myModal.show(info)
        },
        eventDragStart: function(info){
          console.log("START!")
          var eventDestroyEl = document.querySelector("#event-destroy")
          eventDestroyEl.classList.add("destroyable");
        },
        eventDragStop: function(info){
          console.log(info)
          var jsEvent = info.jsEvent
          var eventDestroyEl = document.querySelector("#event-destroy")
          var x1 = eventDestroyEl.offsetLeft;
          var x2 = eventDestroyEl.offsetLeft + eventDestroyEl.offsetWidth;
          var y1 = eventDestroyEl.offsetTop;
          var y2 = eventDestroyEl.offsetTop + eventDestroyEl.offsetHeight;
          if (jsEvent.pageX >= x1 && jsEvent.pageX <= x2 && jsEvent.pageY >= y1 && jsEvent.pageY <= y2) {
            axios.delete('http://localhost:3000/events', {data: {id: info.event.id}}).then(function(response){
              if (response.data.errors){
                //Nothing to do
              }else{
                info.event.remove();
              }

            })
          }
          var eventDestroyEl = document.querySelector("#event-destroy")
          eventDestroyEl.classList.remove("destroyable");
        },
        drop: function(info){
        },
        eventDrop: function(info){
          var url = 'http://localhost:3000/events/' + info.event.id
          axios.put(url, { date: info.event.start }).then(function(response){
            if (response.data.errors){
              info.revert()
            }
          })
        },
        eventReceive: function(info){
          console.log(info)
          var serviceValue = serviceSelector.options[serviceSelector.selectedIndex].value;
          var userId = info.draggedEl.getAttribute("data-user-id");
          var url = 'http://localhost:3000/events'
          axios.post(url,{
            event: {
              service_id: serviceValue,
              user_id: userId,
              date: info.event.start
            }
          }).then(function (response) {
            info.revert()
            if (response.data.errors){
            }else{
              let calendar = self.$refs.fullCalendar.getApi()
              calendar.addEvent({id: response.data.id,title: info.event.title, start: info.event.start, borderColor: info.event.borderColor, backgroundColor: info.event.backgroundColor})
            }
          })
        },
        eventSources: [{
          events: function(info, successCallback, failureCallback){
            var serviceValue = null
            if (serviceSelector){
              serviceValue = serviceSelector.options[serviceSelector.selectedIndex].value;
            }
            var url = 'http://localhost:3000/events?service=' + serviceValue + "&date=" + info.startStr
            axios.get(url).then(function (response){
              successCallback(response.data)
            })
          }
        }]
      }
    }
  }
}

</script>
