.fc-button-primary{
  background-color: $--bs-blue !important;
  border-color: $--bs-blue !important;
  &:hover{
    opacity: 0.8;
  }
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}


.destroyable{
  color: #dc3545;
  border: 1px solid #dc3545;
}
